django 
networkx 
spacy 
lexrank 
distance 
pattern 
autocorrect 
inflect 
contractions 
hdbscan 
nltk
scipy
scikit-learn
sentencepiece
numpy
tqdm
python-dateutil
pillow
django-on-heroku
gunicorn
wikipedia
transformers==2.3.0
sentence_transformers 
django-cors-headers
