{% extends "./index.html" %}
{% load research_extras %}

{% block content %}
<div class="doc-preview-snippets" id="the_snip_list">
    {% for id, snip in snippets.items %}
        {% if snip.type == 'web' %}
            <div class="web">
                <a href="{{ snip.url }}">
                    {{ snip.title }} <br> <span class="domain">{{ domain|get_domain:snip.url }}</span>
                </a>
                <p class="text-muted">{{ snip.snippet }}</p>
            </div>
            <br>
        {% endif %}

        {% if snip.type == 'image' %}
            <div class="image">
{#            <br>#}
                <ul class="row-ed first">
                    {% for i in snip.gallery %}
                        {% for k, img in i.items %}
                        <li>
                          <img alt="{{ img.title }}"  src="{{ img.thumbnail }}">
                             <p>{{ img.title }} <br> <a href="{{ img.url }}">{{ domain|get_domain:img.url }}</a> </p>
                        </li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% if snip.type == 'news' %}
            <div class="news">
                <div class="row">
                    <div class="col-md-3">
                        <img
                            src="{{ snip.thumbnail }}"
                            alt="{{ snip.title }}"
                            height="100%"
                            width="100%">
                    </div>
                    <div class="col-md-9">
                        <a href="{{ snip.url }}">{{ snip.title }} <br> <span
                                class="text-info">{{ domain|get_domain:snip.url }}</span></a> <br>
                        <p class="text-muted">{{ snip.uploaded }} - {{ snip.snippet }}</p>
                    </div>
                </div>
            </div>
            <br>
        {% endif %}

        {% if snip.type == 'video' %}
            <div class="video">
                <div class="row">
                    <div class="col-md-3">
                        <img
                            src="{{ snip.thumbnail }}"
                            alt="{{ snip.title }}"
                            height="100%"
                            width="100%">
                    </div>
                    <div class="col-md-9">
                        <a href="{{ snip.url }}"><i class="fa fa-youtube-play" aria-hidden="true"></i> {{ snip.title|truncatewords:30 }}
                            <br>
                            <span class="text-info">{{ domain|get_domain:snip.url }}</span>
                        </a>
                        <br>
                        <p class="text-muted">{{ snip.uploaded }} - {{ snip.snippet }}</p>
                    </div>
                </div>
            </div>
            <br>
        {% endif %}

    {% endfor %}
</div>

{% endblock %}